@import url("https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@400;500;600;700&family=Oxygen:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  color: #0b1370;
  text-transform: uppercase;
  position: relative;
}

h1,
h2 {
  font-size: 3.75rem;
}

h3 {
  font-size: 2.5rem;
}

.__width-1200 {
  width: 1200px;
  margin: 0 auto;
}
@media (max-width: 320px) {
  .__width-1200 {
    width: 100%;
    margin: 0;
    padding: 0 15px;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__width-1200 {
    width: 100%;
    margin: 0;
    padding: 0 15px;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__width-1200 {
    width: 100%;
    margin: 0;
    padding: 0 15px;
  }
}

.__flex-align-center {
  display: flex;
  align-items: center;
}

.__header {
  background: #2a328f;
  padding: 20px 0;
}
.__header .__width-1200 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.__header .__links {
  display: flex;
  align-items: center;
}
.__header .__links .__nav-menu {
  margin-right: 13.75rem;
}
.__header .__links .__nav-menu a {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 1.5rem;
  margin-right: 2.5rem;
  position: relative;
}
.__header .__links .__nav-menu a:last-child {
  margin-right: 0;
}
.__header .__links .__nav-menu a::before {
  content: "";
  height: 0.125rem;
  border-radius: 0.125rem;
  width: 0;
  top: 100%;
  background: #ffffff;
  position: absolute;
  transition: all 0.9s ease;
}
.__header .__links .__nav-menu a:hover::before {
  width: 100%;
}
.__header .__links .__social-media a svg {
  transform: scale(1);
  transition: all 0.7s ease;
}
.__header .__links .__social-media a svg:nth-child(2) {
  margin: 0 0.3125rem;
}
.__header .__links .__social-media a svg:hover {
  transform: scale(1.1);
}

.__subheader {
  width: 100%;
  height: 18.75rem;
}
.__subheader .__slider-container {
  width: 100%;
  height: 100%;
}
.__subheader .__slider-container .__slider-item {
  width: 100%;
  height: 100%;
  text-align: center;
  background: url("../../../../images/jpg/imgSubheader.jpg") center no-repeat;
  background-size: 100% 100%;
  padding-top: 1rem;
}
.__subheader .__slider-container .__slider-item h1 {
  position: relative;
}
.__subheader .__slider-container .__slider-item h1::before {
  content: "";
  width: 35vw;
  height: 5px;
  top: 50%;
  transform: translateY(-50%);
  background: #0b1370;
  position: absolute;
  left: 0;
  border-radius: 0 1.25rem 1.25rem 0;
}
.__subheader .__slider-container .__slider-item h1::after {
  content: "";
  width: 35vw;
  height: 5px;
  top: 50%;
  transform: translateY(-50%);
  background: #0b1370;
  position: absolute;
  right: 0;
  border-radius: 1.25rem 0 0 1.25rem;
}
.__subheader .__slider-container .__slider-item p {
  font-family: "Oxygen", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  color: #000000;
  line-height: 1.87rem;
  width: 34.125rem;
  margin: 1rem auto 1.25rem;
}
.__subheader .__slider-container .__slider-item .__link {
  font-family: "Anton", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  color: #0b1370;
  line-height: normal;
  padding: 0.625rem 1.25rem;
  border: 0.125rem solid #0b1370;
  border-radius: 0.3125rem;
  display: inline-block;
  transition: all 0.7s ease;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}
.__subheader .__slider-container .__slider-item .__link:hover {
  background-color: #0b1370;
  color: #ffffff;
}

.__about-us {
  height: 33.75rem;
  display: grid;
  grid-template-columns: 45% 55%;
}
.__about-us .__back-image {
  background: url("../../../../images/jpg/about.jpg") center no-repeat;
  background-size: cover;
}
.__about-us .__description {
  background: #0b1370;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.__about-us .__description h2 {
  color: #ffffff;
  margin-bottom: 1.25rem;
}
.__about-us .__description h2::before {
  content: "";
  width: 5.5rem;
  height: 5px;
  top: 50%;
  transform: translateY(-50%);
  background: #ffffff;
  position: absolute;
  left: 110%;
  border-radius: 1.25rem;
}
.__about-us .__description h2::after {
  content: "";
  width: 5.5rem;
  height: 5px;
  top: 50%;
  transform: translateY(-50%);
  background: #ffffff;
  position: absolute;
  right: 110%;
  border-radius: 1.25rem;
}
.__about-us .__description p {
  font-family: "Oxygen", sans-serif;
  font-size: 1.124rem;
  font-weight: 400;
  color: #ffffff;
  line-height: 1.6875rem;
  width: 34.75rem;
}

.__motos-brands {
  text-align: center;
  padding: 6.25rem 0;
}
.__motos-brands h2::before {
  content: "";
  width: 40vw;
  height: 5px;
  top: 50%;
  transform: translateY(-50%);
  background: #0b1370;
  position: absolute;
  left: 0;
  border-radius: 0 1.25rem 1.25rem 0;
}
.__motos-brands h2::after {
  content: "";
  width: 40vw;
  height: 5px;
  top: 50%;
  transform: translateY(-50%);
  background: #0b1370;
  position: absolute;
  right: 0;
  border-radius: 1.25rem 0 0 1.25rem;
}
.__motos-brands .__motos .__slider-motos {
  position: relative;
  height: 20rem;
  position: relative;
  margin: 2.5rem 0;
  overflow: hidden;
}
.__motos-brands .__motos .__slider-motos .__slider-content {
  position: absolute;
  height: 17.5rem;
  display: flex;
  flex-flow: row nowrap;
  padding: 0 1.25rem;
  gap: 1.25rem;
  top: 50%;
  transform: translateY(-50%);
  scroll-behavior: smooth;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}
.__motos-brands .__motos .__slider-motos .__slider-content .__card {
  height: 100%;
  width: 20rem;
  flex-shrink: 0;
  scroll-snap-align: center;
}
.__motos-brands .__motos .__slider-motos .__slider-content .__card img {
  width: 100%;
  height: 100%;
  border-radius: 0.3125rem;
}
.__motos-brands .__motos .__slider-motos .__btn {
  border: none;
  padding: 0 1.25rem;
  background: rgba(223, 50, 79, 0.3);
  border-radius: 0.3125rem;
  position: absolute;
  top: 0;
  height: inherit;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 1;
  cursor: pointer;
  transition: all 0.8s ease;
}
.__motos-brands .__motos .__slider-motos .__btn svg path {
  stroke: rgba(160, 0, 16, 0.5);
}
.__motos-brands .__motos .__slider-motos .__btn:hover {
  background: rgba(223, 50, 79, 0.5);
}
.__motos-brands .__motos .__slider-motos .__btn:hover svg path {
  stroke: #a00010;
}
.__motos-brands .__motos .__slider-motos .__previous.__desbled-button,
.__motos-brands .__motos .__slider-motos .__next.__desbled-button {
  pointer-events: none;
  background: rgba(223, 50, 79, 0.25);
}
.__motos-brands .__motos .__slider-motos .__previous.__desbled-button svg path,
.__motos-brands .__motos .__slider-motos .__next.__desbled-button svg path {
  stroke: rgba(160, 0, 16, 0.3);
}
.__motos-brands .__motos .__slider-motos .__previous {
  left: 3vw;
}
.__motos-brands .__motos .__slider-motos .__next {
  right: 3vw;
}
.__motos-brands .__motos .__slider-motos .__next svg {
  transform: rotate(180deg);
}
.__motos-brands .__brands h3::before {
  content: "";
  width: 15vw;
  height: 0.3125rem;
  top: 50%;
  transform: translateY(-50%);
  background: #0b1370;
  position: absolute;
  left: 12.5rem;
  border-radius: 1.25rem;
}
.__motos-brands .__brands h3::after {
  content: "";
  width: 15vw;
  height: 0.3125rem;
  top: 50%;
  transform: translateY(-50%);
  background: #0b1370;
  position: absolute;
  right: 12.5rem;
  border-radius: 1.25rem;
}
.__motos-brands .__brands .__brands-wrapp {
  width: 100%;
  height: 17.5rem;
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-between;
}
.__motos-brands .__brands .__brands-wrapp .__card {
  width: 17.5rem;
  height: 100%;
  flex-shrink: 0;
  display: flex;
}
.__motos-brands .__brands .__brands-wrapp .__card img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.__support {
  height: 32.5rem;
  background: url("../../../../images/jpg/backSupport.jpg") center no-repeat;
  background-size: 100% 100%;
  text-align: center;
  padding: 2.5rem 0 5rem;
}
.__support h2::before {
  content: "";
  width: 40vw;
  height: 5px;
  top: 50%;
  transform: translateY(-50%);
  background: #0b1370;
  position: absolute;
  left: 0;
  border-radius: 0 1.25rem 1.25rem 0;
}
.__support h2::after {
  content: "";
  width: 40vw;
  height: 5px;
  top: 50%;
  transform: translateY(-50%);
  background: #0b1370;
  position: absolute;
  right: 0;
  border-radius: 1.25rem 0 0 1.25rem;
}
.__support .__box-support {
  justify-content: space-between;
  margin-top: 1.25rem;
}
.__support .__box-support .__card {
  width: 17.5rem;
  height: 16.75rem;
  background: rgba(255, 255, 255, 0.7);
  border: 0.3125rem solid #ffffff;
  border-radius: 0.3125rem;
  padding-block: 2.5rem;
  flex-direction: column;
  justify-content: space-around;
}
.__support .__box-support .__card .__legend {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  color: #0b1370;
  text-transform: uppercase;
}/*# sourceMappingURL=main.css.map */