@import url("https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@400;500;600;700&family=Oxygen:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  color: #0b1370;
  text-transform: uppercase;
  position: relative;
}

h1,
h2 {
  font-size: 3.75rem;
}
@media (max-width: 320px) {
  h1,
h2 {
    font-size: 1.25rem;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  h1,
h2 {
    font-size: 1.25rem;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  h1,
h2 {
    font-size: 1.25rem;
  }
}

h3 {
  font-size: 2.5rem;
}
@media (max-width: 320px) {
  h3 {
    font-size: 1.12rem;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  h3 {
    font-size: 1.12rem;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  h3 {
    font-size: 1.12rem;
  }
}

.__width-1200 {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 320px) {
  .__width-1200 {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 15px;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__width-1200 {
    width: 100%;
    margin: 0;
    padding: 0 15px;
    height: 100%;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__width-1200 {
    width: 100%;
    margin: 0;
    padding: 0 15px;
    height: 100%;
  }
}

.__title {
  position: relative;
}
.__title::before {
  content: "";
  width: 35vw;
  height: 0.25rem;
  top: 50%;
  transform: translateY(-50%);
  background: #0b1370;
  position: absolute;
  left: 0;
  border-radius: 0 1.25rem 1.25rem 0;
}
.__title::after {
  content: "";
  width: 35vw;
  height: 0.25rem;
  top: 50%;
  transform: translateY(-50%);
  background: #0b1370;
  position: absolute;
  right: 0;
  border-radius: 1.25rem 0 0 1.25rem;
}
@media (max-width: 320px) {
  .__title::before, .__title::after {
    width: 25vw;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__title::before, .__title::after {
    width: 25vw;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__title::before, .__title::after {
    width: 25vw;
  }
}

.__flex-align-center {
  display: flex;
  align-items: center;
}

.__flex-wrapp {
  display: flex;
  flex-wrap: wrap;
}

.__jus-cont-sb {
  justify-content: space-between;
}

.__align-center {
  align-items: center;
}

.__flex-column {
  display: flex;
  flex-direction: column;
}

.__header {
  background: #2a328f;
  padding: 1.25rem 0;
  position: relative;
}
@media (max-width: 320px) {
  .__header {
    height: 5rem;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__header {
    height: 5rem;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__header {
    height: 5rem;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
  }
}
@media (max-width: 320px) {
  .__header .__logo {
    height: 100%;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__header .__logo {
    height: 100%;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__header .__logo {
    height: 100%;
  }
}
@media (max-width: 320px) {
  .__header .__logo img {
    height: 100%;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__header .__logo img {
    height: 100%;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__header .__logo img {
    height: 100%;
  }
}
@media (max-width: 320px) {
  .__header .__links {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 5rem;
    background: #2a328f;
    width: 100vw;
    left: 100%;
    height: 100vh;
    z-index: 100;
    transition: left 0.6s ease-in-out;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__header .__links {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 5rem;
    background: #2a328f;
    width: 100vw;
    left: 100%;
    height: 100vh;
    z-index: 100;
    transition: left 0.6s ease-in-out;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__header .__links {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 5rem;
    background: #2a328f;
    width: 100vw;
    left: 100%;
    height: 100vh;
    z-index: 100;
    transition: left 0.6s ease-in-out;
  }
}
.__header .__links .__nav-menu {
  margin-right: 13.75rem;
}
@media (max-width: 320px) {
  .__header .__links .__nav-menu {
    margin: 0;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__header .__links .__nav-menu {
    margin: 0;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__header .__links .__nav-menu {
    margin: 0;
  }
}
.__header .__links .__nav-menu a {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 1.5rem;
  margin-right: 2.5rem;
  position: relative;
}
@media (max-width: 320px) {
  .__header .__links .__nav-menu a {
    display: block;
    margin: 1rem auto;
    text-align: center;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__header .__links .__nav-menu a {
    display: block;
    margin: 1rem auto;
    text-align: center;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__header .__links .__nav-menu a {
    display: block;
    margin: 1rem auto;
    text-align: center;
  }
}
.__header .__links .__nav-menu a:last-child {
  margin-right: 0;
}
.__header .__links .__nav-menu a::before {
  content: "";
  height: 0.125rem;
  border-radius: 0.125rem;
  width: 0;
  top: 100%;
  background: #ffffff;
  position: absolute;
  transition: all 0.9s ease;
}
.__header .__links .__nav-menu a:hover::before {
  width: 100%;
}
.__header .__links.__active-menu-mobile {
  left: 0;
}

.__social-media a svg {
  transform: scale(1);
  transition: all 0.7s ease;
}
.__social-media a svg:nth-child(2) {
  margin: 0 0.3125rem;
}
.__social-media a svg:hover {
  transform: scale(1.1);
}

.__subheader {
  width: 100%;
  height: 18.75rem;
}
@media (max-width: 320px) {
  .__subheader {
    height: 16.25rem;
    margin-top: 5rem;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__subheader {
    height: 16.25rem;
    margin-top: 5rem;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__subheader {
    height: 16.25rem;
    margin-top: 5rem;
  }
}
.__subheader .__slider-container {
  width: 100%;
  height: 100%;
}
.__subheader .__slider-container .__slider-item {
  width: 100%;
  height: 100%;
  text-align: center;
  background: url("../../../../images/jpg/imgSubheader.jpg") center no-repeat;
  background-size: 100% 100%;
  padding-top: 1rem;
}
@media (max-width: 320px) {
  .__subheader .__slider-container .__slider-item {
    background: url("../../../../images/jpg/imgSubheader-mobile.jpg") center no-repeat;
    background-size: 100% 100%;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__subheader .__slider-container .__slider-item {
    background: url("../../../../images/jpg/imgSubheader-mobile.jpg") center no-repeat;
    background-size: 100% 100%;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__subheader .__slider-container .__slider-item {
    background: url("../../../../images/jpg/imgSubheader-mobile.jpg") center no-repeat;
    background-size: 100% 100%;
  }
}
@media (max-width: 320px) {
  .__subheader .__slider-container .__slider-item .__title::before, .__subheader .__slider-container .__slider-item .__title::after {
    width: 28vw;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__subheader .__slider-container .__slider-item .__title::before, .__subheader .__slider-container .__slider-item .__title::after {
    width: 28vw;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__subheader .__slider-container .__slider-item .__title::before, .__subheader .__slider-container .__slider-item .__title::after {
    width: 28vw;
  }
}
.__subheader .__slider-container .__slider-item p {
  font-family: "Oxygen", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  color: #000000;
  line-height: 1.87rem;
  width: 34.125rem;
  margin: 1rem auto 1.25rem;
}
@media (max-width: 320px) {
  .__subheader .__slider-container .__slider-item p {
    width: 100%;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0 1rem;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__subheader .__slider-container .__slider-item p {
    width: 100%;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0 1rem;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__subheader .__slider-container .__slider-item p {
    width: 100%;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0 1rem;
  }
}
.__subheader .__slider-container .__slider-item .__link {
  font-family: "Anton", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  color: #0b1370;
  line-height: normal;
  padding: 0.625rem 1.25rem;
  border: 0.125rem solid #0b1370;
  border-radius: 0.3125rem;
  display: inline-block;
  transition: all 0.7s ease;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}
.__subheader .__slider-container .__slider-item .__link:hover {
  background-color: #0b1370;
  color: #ffffff;
}

.__about-us {
  height: 33.75rem;
  display: grid;
  grid-template-columns: 45% 55%;
}
@media (max-width: 320px) {
  .__about-us {
    display: block;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__about-us {
    display: block;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__about-us {
    display: block;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.__about-us .__back-image {
  background: url("../../../../images/jpg/about.jpg") center no-repeat;
  background-size: cover;
}
@media (max-width: 320px) {
  .__about-us .__back-image {
    display: none;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__about-us .__back-image {
    display: none;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__about-us .__back-image {
    display: none;
  }
}
.__about-us .__description {
  background: #0b1370;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 320px) {
  .__about-us .__description {
    width: 100%;
    padding: 1.25rem 1rem;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__about-us .__description {
    width: 100%;
    padding: 1.25rem 1rem;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__about-us .__description {
    width: 100%;
    padding: 1.25rem 1rem;
  }
}
.__about-us .__description h2 {
  color: #ffffff;
  margin-bottom: 1.25rem;
}
@media (max-width: 320px) {
  .__about-us .__description h2 {
    margin-bottom: 1rem;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__about-us .__description h2 {
    margin-bottom: 1rem;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__about-us .__description h2 {
    margin-bottom: 1rem;
  }
}
.__about-us .__description h2::before {
  content: "";
  width: 5.5rem;
  height: 0.25rem;
  top: 50%;
  transform: translateY(-50%);
  background: #ffffff;
  position: absolute;
  left: 110%;
  border-radius: 1.25rem;
}
.__about-us .__description h2::after {
  content: "";
  width: 5.5rem;
  height: 0.25rem;
  top: 50%;
  transform: translateY(-50%);
  background: #ffffff;
  position: absolute;
  right: 110%;
  border-radius: 1.25rem;
}
@media (max-width: 320px) {
  .__about-us .__description h2::before, .__about-us .__description h2::after {
    width: 36vw;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__about-us .__description h2::before, .__about-us .__description h2::after {
    width: 36vw;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__about-us .__description h2::before, .__about-us .__description h2::after {
    width: 36vw;
  }
}
.__about-us .__description p {
  font-family: "Oxygen", sans-serif;
  font-size: 1.124rem;
  font-weight: 400;
  color: #ffffff;
  line-height: 1.6875rem;
  width: 34.75rem;
}
@media (max-width: 320px) {
  .__about-us .__description p {
    width: 100%;
    font-size: 1rem;
    text-align: center;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__about-us .__description p {
    width: 100%;
    font-size: 1rem;
    text-align: center;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__about-us .__description p {
    width: 100%;
    font-size: 1rem;
    text-align: center;
  }
}

.__motos-brands {
  text-align: center;
  padding: 6.25rem 0;
}
@media (max-width: 320px) {
  .__motos-brands {
    padding-block: 1.25rem;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__motos-brands {
    padding-block: 1.25rem;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__motos-brands {
    padding-block: 1.25rem;
  }
}
.__motos-brands .__title::before, .__motos-brands .__title::after {
  width: 0vw;
}
.__motos-brands .__title.__active::before, .__motos-brands .__title.__active::after {
  -webkit-animation: line 0.6s linear forwards;
          animation: line 0.6s linear forwards;
}
@media (max-width: 320px) {
  .__motos-brands .__title.__active::before, .__motos-brands .__title.__active::after {
    -webkit-animation: none;
            animation: none;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__motos-brands .__title.__active::before, .__motos-brands .__title.__active::after {
    -webkit-animation: none;
            animation: none;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__motos-brands .__title.__active::before, .__motos-brands .__title.__active::after {
    -webkit-animation: none;
            animation: none;
  }
}
@-webkit-keyframes line {
  from {
    width: 0vw;
  }
  to {
    width: 40vw;
  }
}
@keyframes line {
  from {
    width: 0vw;
  }
  to {
    width: 40vw;
  }
}
@media (max-width: 320px) {
  .__motos-brands .__title::before, .__motos-brands .__title::after {
    width: 36vw;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__motos-brands .__title::before, .__motos-brands .__title::after {
    width: 36vw;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__motos-brands .__title::before, .__motos-brands .__title::after {
    width: 36vw;
  }
}
.__motos-brands .__motos .__slider-motos {
  position: relative;
  height: 20rem;
  margin: 2.5rem auto;
  padding: 1.75rem 0.5rem;
  overflow: hidden;
  width: 100%;
}
@media (max-width: 320px) {
  .__motos-brands .__motos .__slider-motos {
    height: 10rem;
    margin: 1rem auto;
    padding: 0;
    width: 100%;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__motos-brands .__motos .__slider-motos {
    height: 10rem;
    margin: 1rem auto;
    padding: 0;
    width: 100%;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__motos-brands .__motos .__slider-motos {
    height: 10rem;
    margin: 1rem auto;
    padding: 0;
    width: 100%;
  }
}
.__motos-brands .__motos .__slider-motos .__slider-content {
  height: 16rem;
  display: flex;
  flex-flow: row nowrap;
  padding: 0.75rem 0;
  gap: 1.25rem;
  scroll-behavior: smooth;
  overflow: hidden;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}
@media (max-width: 320px) {
  .__motos-brands .__motos .__slider-motos .__slider-content {
    position: absolute;
    height: 100%;
    gap: 0.5rem;
    padding: 0.5rem;
    scroll-behavior: initial;
    -ms-scroll-snap-type: initial;
        scroll-snap-type: initial;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__motos-brands .__motos .__slider-motos .__slider-content {
    position: absolute;
    height: 100%;
    gap: 0.5rem;
    padding: 0.5rem;
    scroll-behavior: initial;
    -ms-scroll-snap-type: initial;
        scroll-snap-type: initial;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__motos-brands .__motos .__slider-motos .__slider-content {
    position: absolute;
    height: 100%;
    gap: 0.5rem;
    padding: 0.5rem;
    scroll-behavior: initial;
    -ms-scroll-snap-type: initial;
        scroll-snap-type: initial;
  }
}
.__motos-brands .__motos .__slider-motos .__slider-content .__card {
  height: 100%;
  width: 20rem;
  flex-shrink: 0;
  cursor: pointer;
  border-radius: 0.3125rem;
  transition: all 0.1s ease-in;
  scroll-snap-align: center;
}
.__motos-brands .__motos .__slider-motos .__slider-content .__card:hover {
  border: 0.125rem solid #a00010;
  box-shadow: 1px 1px 5px rgba(160, 0, 16, 0.5), -1px -1px 5px rgba(160, 0, 16, 0.5);
  border-radius: 0.5rem;
}
@media (max-width: 320px) {
  .__motos-brands .__motos .__slider-motos .__slider-content .__card:hover {
    border: none;
    box-shadow: none;
    border-radius: 0;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__motos-brands .__motos .__slider-motos .__slider-content .__card:hover {
    border: none;
    box-shadow: none;
    border-radius: 0;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__motos-brands .__motos .__slider-motos .__slider-content .__card:hover {
    border: none;
    box-shadow: none;
    border-radius: 0;
  }
}
.__motos-brands .__motos .__slider-motos .__slider-content .__card.__active-card {
  border: 0.125rem solid #a00010;
  box-shadow: 1px 1px 5px rgba(160, 0, 16, 0.5), -1px -1px 5px rgba(160, 0, 16, 0.5);
  border-radius: 0.5rem;
}
@media (max-width: 320px) {
  .__motos-brands .__motos .__slider-motos .__slider-content .__card {
    width: 11.25rem;
    scroll-snap-align: initial;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__motos-brands .__motos .__slider-motos .__slider-content .__card {
    width: 11.25rem;
    scroll-snap-align: initial;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__motos-brands .__motos .__slider-motos .__slider-content .__card {
    width: 11.25rem;
    scroll-snap-align: initial;
  }
}
.__motos-brands .__motos .__slider-motos .__slider-content .__card img {
  width: 100%;
  height: 100%;
  border-radius: 0.3125rem;
}
.__motos-brands .__motos .__slider-motos .__btn {
  border: none;
  padding: 0 1.25rem;
  background: rgba(223, 50, 79, 0.3);
  border-radius: 0.3125rem;
  position: absolute;
  top: 0;
  height: inherit;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 1;
  cursor: pointer;
  transition: all 0.8s ease;
}
@media (max-width: 320px) {
  .__motos-brands .__motos .__slider-motos .__btn {
    display: none;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__motos-brands .__motos .__slider-motos .__btn {
    display: none;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__motos-brands .__motos .__slider-motos .__btn {
    display: none;
  }
}
.__motos-brands .__motos .__slider-motos .__btn svg path {
  stroke: rgba(160, 0, 16, 0.5);
}
.__motos-brands .__motos .__slider-motos .__btn:hover {
  background: rgba(223, 50, 79, 0.5);
}
.__motos-brands .__motos .__slider-motos .__btn:hover svg path {
  stroke: #a00010;
}
.__motos-brands .__motos .__slider-motos .__btn.__desabled {
  pointer-events: none;
}
.__motos-brands .__motos .__slider-motos .__previous.__desbled-button,
.__motos-brands .__motos .__slider-motos .__next.__desbled-button {
  pointer-events: none;
  background: rgba(223, 50, 79, 0.25);
}
.__motos-brands .__motos .__slider-motos .__previous.__desbled-button svg path,
.__motos-brands .__motos .__slider-motos .__next.__desbled-button svg path {
  stroke: rgba(160, 0, 16, 0.3);
}
.__motos-brands .__motos .__slider-motos .__previous {
  left: 3vw;
}
.__motos-brands .__motos .__slider-motos .__next {
  right: 3vw;
}
.__motos-brands .__motos .__slider-motos .__next svg {
  transform: rotate(180deg);
}
.__motos-brands .__brands h3::before {
  content: "";
  width: 15vw;
  height: 0.25rem;
  top: 50%;
  transform: translateY(-50%);
  background: #0b1370;
  position: absolute;
  left: 12.5rem;
  border-radius: 1.25rem;
}
.__motos-brands .__brands h3::after {
  content: "";
  width: 15vw;
  height: 0.25rem;
  top: 50%;
  transform: translateY(-50%);
  background: #0b1370;
  position: absolute;
  right: 12.5rem;
  border-radius: 1.25rem;
}
@media (max-width: 320px) {
  .__motos-brands .__brands h3::before {
    left: 12rem;
  }
  .__motos-brands .__brands h3::after {
    right: 12rem;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__motos-brands .__brands h3::before {
    left: 13rem;
  }
  .__motos-brands .__brands h3::after {
    right: 13rem;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__motos-brands .__brands h3::before {
    left: 14.5rem;
  }
  .__motos-brands .__brands h3::after {
    right: 14.5rem;
  }
}
.__motos-brands .__brands .__hd {
  grid-area: __hd;
}
.__motos-brands .__brands .__hnd {
  grid-area: __hnd;
}
.__motos-brands .__brands .__ymh {
  grid-area: __ymh;
}
.__motos-brands .__brands .__kws {
  grid-area: __kws;
}
.__motos-brands .__brands .__bmw {
  grid-area: __bmw;
}
.__motos-brands .__brands .__dfr {
  grid-area: __dfr;
}
.__motos-brands .__brands .__brands-wrapp {
  width: 100%;
  margin-top: 2.5rem;
  display: grid;
  row-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "__hd __hnd __ymh" "__kws __bmw __dfr";
}
.__motos-brands .__brands .__brands-wrapp .__card {
  width: 17.5rem;
  height: 100%;
  flex-shrink: 0;
  display: flex;
}
.__motos-brands .__brands .__brands-wrapp .__card img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 320px) {
  .__motos-brands .__brands .__brands-wrapp {
    display: none;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__motos-brands .__brands .__brands-wrapp {
    display: none;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__motos-brands .__brands .__brands-wrapp {
    display: none;
  }
}

.__support {
  height: 32.5rem;
  background: url("../../../../images/jpg/backSupport.jpg") center no-repeat;
  background-size: 100% 100%;
  text-align: center;
  padding: 2.5rem 0 5rem;
}
@media (max-width: 320px) {
  .__support {
    background: url("../../../../images/jpg/backSupport-mobile.jpg") center no-repeat;
    background-size: 100% 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 1.25rem 0;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__support {
    background: url("../../../../images/jpg/backSupport-mobile.jpg") center no-repeat;
    background-size: 100% 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 1.25rem 0;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__support {
    background: url("../../../../images/jpg/backSupport-mobile.jpg") center no-repeat;
    background-size: 100% 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 1.25rem 0;
  }
}
.__support .__title::before, .__support .__title::after {
  width: 0vw;
}
.__support .__title.__active::before, .__support .__title.__active::after {
  -webkit-animation: line 0.6s linear forwards;
          animation: line 0.6s linear forwards;
}
@media (max-width: 320px) {
  .__support .__title.__active::before, .__support .__title.__active::after {
    -webkit-animation: none;
            animation: none;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__support .__title.__active::before, .__support .__title.__active::after {
    -webkit-animation: none;
            animation: none;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__support .__title.__active::before, .__support .__title.__active::after {
    -webkit-animation: none;
            animation: none;
  }
}
@keyframes line {
  from {
    width: 0vw;
  }
  to {
    width: 40vw;
  }
}
@media (max-width: 320px) {
  .__support .__title::before, .__support .__title::after {
    width: 36vw;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__support .__title::before, .__support .__title::after {
    width: 36vw;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__support .__title::before, .__support .__title::after {
    width: 36vw;
  }
}
.__support .__box-support {
  justify-content: space-between;
  margin-top: 1.75rem;
  position: relative;
  overflow: hidden;
}
@media (max-width: 320px) {
  .__support .__box-support {
    margin-top: 1rem;
    gap: 0.75rem;
    justify-content: center;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__support .__box-support {
    margin-top: 1rem;
    gap: 0.75rem;
    justify-content: center;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__support .__box-support {
    margin-top: 1rem;
    gap: 0.75rem;
    justify-content: center;
  }
}
.__support .__box-support .__card {
  width: 17.5rem;
  height: 16.75rem;
  background: rgba(255, 255, 255, 0.7);
  border: 0.3125rem solid #ffffff;
  border-radius: 0.3125rem;
  padding-block: 2.5rem;
  position: relative;
  cursor: pointer;
  transition: all 0.9s ease-in-out;
}
.__support .__box-support .__card:nth-child(1) {
  opacity: 0;
  visibility: hidden;
}
.__support .__box-support .__card:nth-child(1).__active {
  -webkit-animation: toRight 0.7s ease-in forwards;
          animation: toRight 0.7s ease-in forwards;
}
.__support .__box-support .__card:nth-child(2) {
  opacity: 0;
  visibility: hidden;
}
.__support .__box-support .__card:nth-child(2).__active {
  -webkit-animation: show 0.7s ease-in forwards;
          animation: show 0.7s ease-in forwards;
}
.__support .__box-support .__card:nth-child(3) {
  opacity: 0;
  visibility: hidden;
}
.__support .__box-support .__card:nth-child(3).__active {
  -webkit-animation: toLeft 0.7s ease-in forwards;
          animation: toLeft 0.7s ease-in forwards;
}
@-webkit-keyframes toRight {
  from {
    left: -100%;
  }
  to {
    left: 0;
    opacity: 1;
    visibility: visible;
  }
}
@keyframes toRight {
  from {
    left: -100%;
  }
  to {
    left: 0;
    opacity: 1;
    visibility: visible;
  }
}
@-webkit-keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
@-webkit-keyframes toLeft {
  from {
    right: -100%;
  }
  to {
    right: 0;
    opacity: 1;
    visibility: visible;
  }
}
@keyframes toLeft {
  from {
    right: -100%;
  }
  to {
    right: 0;
    opacity: 1;
    visibility: visible;
  }
}
@media (max-width: 320px) {
  .__support .__box-support .__card {
    height: 12rem;
    padding-block: 0.5rem;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__support .__box-support .__card {
    height: 12rem;
    padding-block: 0.5rem;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__support .__box-support .__card {
    height: 12rem;
    padding-block: 0.5rem;
  }
}
.__support .__box-support .__card:hover {
  background-color: rgba(11, 19, 112, 0.7);
  border-color: #0b1370;
}
.__support .__box-support .__card:hover .__box-two {
  display: flex;
  top: inherit;
  -webkit-animation: showContent 0.6s 0.6s forwards, moveTop 0.5s linear forwards;
          animation: showContent 0.6s 0.6s forwards, moveTop 0.5s linear forwards;
}
.__support .__box-support .__card:hover .__box-two .__legend {
  -webkit-animation: showContent 1s forwards, moveTop 0.8s ease-in forwards;
          animation: showContent 1s forwards, moveTop 0.8s ease-in forwards;
}
.__support .__box-support .__card:hover .__box-two .__text-card {
  -webkit-animation: showContent 1s forwards, moveTop 0.8s ease-in forwards;
          animation: showContent 1s forwards, moveTop 0.8s ease-in forwards;
}
@-webkit-keyframes moveTop {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
    visibility: visible;
  }
}
@keyframes moveTop {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
    visibility: visible;
  }
}
@-webkit-keyframes showContent {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes showContent {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
.__support .__box-support .__card .__box-one {
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
.__support .__box-support .__card .__box-two {
  pointer-events: none;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  padding-top: 2.5rem;
  visibility: hidden;
}
@media (max-width: 320px) {
  .__support .__box-support .__card .__box-two {
    padding: 0;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__support .__box-support .__card .__box-two {
    padding: 0;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__support .__box-support .__card .__box-two {
    padding: 0;
  }
}
.__support .__box-support .__card .__box-two .__legend {
  color: #ffffff;
}
.__support .__box-support .__card .__box-two .__text-card {
  display: block;
}
.__support .__box-support .__card .__legend {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  color: #0b1370;
  text-transform: uppercase;
}
.__support .__box-support .__card .__text-card {
  display: none;
  font-family: "Oxygen", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
  line-height: 1.5rem;
  width: 15.25rem;
  margin-top: 0.5rem;
}
@media (max-width: 320px) {
  .__support .__box-support .__card .__text-card {
    width: 100%;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__support .__box-support .__card .__text-card {
    width: 100%;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__support .__box-support .__card .__text-card {
    width: 100%;
  }
}

.__contact {
  background-color: #0b1370;
  color: #ffffff;
  padding-block: 6.25rem;
  position: relative;
}
@media (max-width: 320px) {
  .__contact {
    padding-block: 1.25rem;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__contact {
    padding-block: 1.25rem;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__contact {
    padding-block: 1.25rem;
  }
}
.__contact .__title {
  color: #ffffff;
  text-align: center;
}
.__contact .__title::before, .__contact .__title::after {
  background: #ffffff;
  width: 0vw;
}
@media (max-width: 320px) {
  .__contact .__title::before, .__contact .__title::after {
    width: 35vw;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__contact .__title::before, .__contact .__title::after {
    width: 35vw;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__contact .__title::before, .__contact .__title::after {
    width: 35vw;
  }
}
.__contact .__title.__active::before, .__contact .__title.__active::after {
  -webkit-animation: line 0.6s linear forwards;
          animation: line 0.6s linear forwards;
}
@media (max-width: 320px) {
  .__contact .__title.__active::before, .__contact .__title.__active::after {
    -webkit-animation: none;
            animation: none;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__contact .__title.__active::before, .__contact .__title.__active::after {
    -webkit-animation: none;
            animation: none;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__contact .__title.__active::before, .__contact .__title.__active::after {
    -webkit-animation: none;
            animation: none;
  }
}
@keyframes line {
  from {
    width: 0vw;
  }
  to {
    width: 40vw;
  }
}
.__contact .__back-img {
  position: absolute;
  background: url("../../../../images/jpg/contact.jpg") no-repeat;
  background-size: cover;
  width: 70vw;
  height: 75%;
  background-position: center;
  right: 0;
  z-index: 0;
  bottom: 7%;
  opacity: 0.7;
  border-radius: 0.3125rem 0 0 0.3125rem;
}
@media (max-width: 320px) {
  .__contact .__back-img {
    background: url("../../../../images/jpg/backContact-mobile.jpg") center no-repeat;
    opacity: 0.7;
    bottom: 0;
    height: 800px;
    width: 100%;
    right: initial;
    background-size: 100% 100%;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__contact .__back-img {
    background: url("../../../../images/jpg/backContact-mobile.jpg") center no-repeat;
    opacity: 0.7;
    bottom: 0;
    height: 800px;
    width: 100%;
    right: initial;
    background-size: 100% 100%;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__contact .__back-img {
    background: url("../../../../images/jpg/backContact-mobile.jpg") center no-repeat;
    opacity: 0.7;
    bottom: 0;
    height: 800px;
    width: 100%;
    right: initial;
    background-size: 100% 100%;
  }
}
@media (max-width: 320px) {
  .__contact .__flex-align-center {
    flex-direction: column;
    gap: 1.25rem;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__contact .__flex-align-center {
    flex-direction: column;
    gap: 1.25rem;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__contact .__flex-align-center {
    flex-direction: column;
    gap: 1.25rem;
  }
}
.__contact .__contacts {
  margin-top: 2.5rem;
}
@media (max-width: 320px) {
  .__contact .__contacts {
    margin-top: 1.25rem;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__contact .__contacts {
    margin-top: 1.25rem;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__contact .__contacts {
    margin-top: 1.25rem;
  }
}
.__contact .__contacts form {
  background: #2a328f;
  border-radius: 0.3125rem;
  padding: 2.5rem;
  position: relative;
}
@media (max-width: 320px) {
  .__contact .__contacts form {
    padding: 0.75rem;
    width: 100%;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__contact .__contacts form {
    padding: 0.75rem;
    width: 100%;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__contact .__contacts form {
    padding: 0.75rem;
    width: 100%;
  }
}
.__contact .__contacts form .__input-field {
  margin-top: 1.25rem;
}
.__contact .__contacts form .__input-field:nth-child(1) {
  margin-top: 0;
}
.__contact .__contacts form .__input-field label {
  font-family: "Oxygen", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  color: #ffffff;
  line-height: normal;
  margin-bottom: 0.5rem;
}
@media (max-width: 320px) {
  .__contact .__contacts form .__input-field label {
    font-size: 1rem;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__contact .__contacts form .__input-field label {
    font-size: 1rem;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__contact .__contacts form .__input-field label {
    font-size: 1rem;
  }
}
.__contact .__contacts form .__input-field input,
.__contact .__contacts form .__input-field textarea {
  width: 30rem;
  border-radius: 0.3125rem;
  background: #ffffff;
  border: none;
  font-size: 1.25rem;
  padding: 0.25rem 0.5rem;
}
@media (max-width: 320px) {
  .__contact .__contacts form .__input-field input,
.__contact .__contacts form .__input-field textarea {
    width: 100%;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__contact .__contacts form .__input-field input,
.__contact .__contacts form .__input-field textarea {
    width: 100%;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__contact .__contacts form .__input-field input,
.__contact .__contacts form .__input-field textarea {
    width: 100%;
  }
}
.__contact .__contacts form .__input-field input {
  height: 3.25rem;
}
.__contact .__contacts form .__input-field textarea {
  height: 9.5rem;
  resize: none;
}
.__contact .__contacts form .__button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 0.125rem solid #ffffff;
  border-radius: 0.3125rem;
  background: transparent;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  padding: 0.5rem 1.25rem;
  display: block;
  margin-left: auto;
  margin-top: 2.5rem;
  cursor: pointer;
  transition: all 0.8s ease-in-out;
  font-family: "Anton", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  line-height: normal;
}
.__contact .__contacts form .__button:hover {
  background: #ffffff;
  color: #2a328f;
}
@media (max-width: 320px) {
  .__contact .__contacts form .__button {
    width: 100%;
    margin-top: 1.25rem;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__contact .__contacts form .__button {
    width: 100%;
    margin-top: 1.25rem;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__contact .__contacts form .__button {
    width: 100%;
    margin-top: 1.25rem;
  }
}
.__contact .__contacts .__box-info-contact {
  display: block;
  margin-left: auto;
  background: rgba(11, 19, 112, 0.6);
  width: 29rem;
  border-radius: 0.3125rem;
  padding: 1.25rem;
  position: relative;
}
.__contact .__contacts .__box-info-contact .__phone {
  grid-area: __phone;
}
.__contact .__contacts .__box-info-contact .__cellphone {
  grid-area: __cellphone;
}
.__contact .__contacts .__box-info-contact .__email {
  grid-area: __email;
}
.__contact .__contacts .__box-info-contact .__address {
  grid-area: __address;
}
.__contact .__contacts .__box-info-contact .__social-media {
  grid-area: __social-media;
}
@media (max-width: 320px) {
  .__contact .__contacts .__box-info-contact {
    width: 100%;
    display: grid;
    row-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "__phone __cellphone" "__email __email" "__address __address" "__social-media __social-media";
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__contact .__contacts .__box-info-contact {
    width: 100%;
    display: grid;
    row-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "__phone __cellphone" "__email __email" "__address __address" "__social-media __social-media";
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__contact .__contacts .__box-info-contact {
    width: 100%;
    display: grid;
    row-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "__phone __cellphone" "__email __email" "__address __address" "__social-media __social-media";
  }
}
.__contact .__contacts .__box-info-contact .__info-contact {
  display: flex;
  gap: 1.25rem;
  margin-top: 2rem;
}
@media (max-width: 320px) {
  .__contact .__contacts .__box-info-contact .__info-contact {
    flex-direction: column;
    align-items: center;
    margin-top: 0rem;
    text-align: center;
    gap: 0;
  }
  .__contact .__contacts .__box-info-contact .__info-contact:nth-child(4) {
    padding: 0 1rem;
    gap: 0.75rem;
  }
  .__contact .__contacts .__box-info-contact .__info-contact:nth-child(4) span {
    line-height: normal;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__contact .__contacts .__box-info-contact .__info-contact {
    flex-direction: column;
    align-items: center;
    margin-top: 0rem;
    text-align: center;
    gap: 0;
  }
  .__contact .__contacts .__box-info-contact .__info-contact:nth-child(4) {
    padding: 0 1rem;
    gap: 0.75rem;
  }
  .__contact .__contacts .__box-info-contact .__info-contact:nth-child(4) span {
    line-height: normal;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__contact .__contacts .__box-info-contact .__info-contact {
    flex-direction: column;
    align-items: center;
    margin-top: 0rem;
    text-align: center;
    gap: 0;
  }
  .__contact .__contacts .__box-info-contact .__info-contact:nth-child(4) {
    padding: 0 1rem;
    gap: 0.75rem;
  }
  .__contact .__contacts .__box-info-contact .__info-contact:nth-child(4) span {
    line-height: normal;
  }
}
.__contact .__contacts .__box-info-contact .__info-contact:first-child {
  margin-top: 0;
}
.__contact .__contacts .__box-info-contact .__info-contact svg {
  width: 1.75rem;
  height: 1.75rem;
  -o-object-fit: fill;
     object-fit: fill;
}
.__contact .__contacts .__box-info-contact .__info-contact span {
  display: block;
  font-family: "Oxygen", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
  line-height: 3rem;
}
@media (max-width: 320px) {
  .__contact .__contacts .__box-info-contact .__info-contact span {
    font-size: 1rem;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__contact .__contacts .__box-info-contact .__info-contact span {
    font-size: 1rem;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__contact .__contacts .__box-info-contact .__info-contact span {
    font-size: 1rem;
  }
}
.__contact .__contacts .__box-info-contact .__social-media {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.__contact .__contacts .__box-info-contact .__social-media a:nth-child(2) {
  margin: 0 1.25rem;
}
.__contact .__contacts .__box-info-contact .__social-media a svg {
  transform: scale(1.5);
}
.__contact .__contacts .__box-info-contact .__social-media a svg:hover {
  transform: scale(1.7);
}

.__footer {
  background: #2a328f;
  padding: 2.5rem 8.75rem;
  display: flex;
}
@media (max-width: 320px) {
  .__footer {
    padding: 1.25rem 1rem;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__footer {
    padding: 1.25rem 1rem;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__footer {
    padding: 1.25rem 1rem;
  }
}
@media (max-width: 320px) {
  .__footer .__flex-align-center {
    flex-direction: column;
    gap: 1.25rem;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__footer .__flex-align-center {
    gap: 1.25rem;
    flex-direction: column;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__footer .__flex-align-center {
    flex-direction: column;
    gap: 1.25rem;
  }
}
@media (max-width: 320px) {
  .__footer .__contact-social {
    margin-top: 1.25rem;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__footer .__contact-social {
    margin-top: 1.25rem;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__footer .__contact-social {
    margin-top: 1.25rem;
  }
}
.__footer .__contact-social .__info-contact {
  font-family: "Oxygen", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  color: #ffffff;
  line-height: normal;
  gap: 1rem;
  margin-bottom: 1.125rem;
}
@media (max-width: 320px) {
  .__footer .__contact-social .__info-contact {
    font-size: 1rem;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__footer .__contact-social .__info-contact {
    font-size: 1rem;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__footer .__contact-social .__info-contact {
    font-size: 1rem;
  }
}
.__footer .__contact-social .__last-child {
  width: 18.875rem;
}
@media (max-width: 320px) {
  .__footer .__contact-social .__last-child {
    width: 100%;
    text-align: center;
    padding: 0 1rem;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__footer .__contact-social .__last-child {
    width: 100%;
    text-align: center;
    padding: 0 1rem;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__footer .__contact-social .__last-child {
    width: 100%;
    text-align: center;
    padding: 0 1rem;
  }
}
.__footer .__contact-social .__social-media {
  gap: 0.75rem;
  margin-left: 3rem;
}
@media (max-width: 320px) {
  .__footer .__contact-social .__social-media {
    margin: 0;
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__footer .__contact-social .__social-media {
    margin: 0;
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__footer .__contact-social .__social-media {
    margin: 0;
    display: flex;
    justify-content: center;
  }
}
.__footer .__contact-social .__phone {
  grid-area: __phone;
}
.__footer .__contact-social .__cellphone {
  grid-area: __cellphone;
}
.__footer .__contact-social .__email {
  grid-area: __email;
}
.__footer .__contact-social .__address {
  grid-area: __address;
}
.__footer .__contact-social .__social-media {
  grid-area: __social-media;
}
@media (max-width: 320px) {
  .__footer .__contact-social {
    display: grid;
    width: 100%;
    row-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "__phone __cellphone" "__email __email" "__address __address" "__social-media __social-media";
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__footer .__contact-social {
    display: grid;
    width: 100%;
    row-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "__phone __cellphone" "__email __email" "__address __address" "__social-media __social-media";
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__footer .__contact-social {
    display: grid;
    width: 100%;
    row-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "__phone __cellphone" "__email __email" "__address __address" "__social-media __social-media";
  }
}
.__footer .__links-site {
  margin-bottom: 2rem;
}
.__footer .__links-site a {
  margin-top: 1.125rem;
  position: relative;
  display: block;
  font-size: 1.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  color: #ffffff;
}
.__footer .__links-site a:nth-of-child(1) {
  margin-top: 0;
}
.__footer .__links-site a::before {
  content: "";
  height: 0.125rem;
  border-radius: 0.125rem;
  width: 0;
  top: 100%;
  background: #ffffff;
  position: absolute;
  transition: all 0.9s ease;
}
.__footer .__links-site a:hover::before {
  width: 100%;
}
@media (max-width: 320px) {
  .__footer .__links-site {
    display: none;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__footer .__links-site {
    display: none;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__footer .__links-site {
    display: none;
  }
}
.__footer .__links-site-mobile {
  display: none;
}
.__footer .__links-site-mobile a {
  margin: 1rem auto 0;
  position: relative;
  display: block;
  font-size: 1.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  color: #ffffff;
}
.__footer .__links-site-mobile a:nth-of-child(1) {
  margin-top: 0;
}
@media (max-width: 320px) {
  .__footer .__links-site-mobile {
    display: block;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__footer .__links-site-mobile {
    display: block;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__footer .__links-site-mobile {
    display: block;
  }
}
.__footer .__border {
  width: 100%;
  height: 0.125rem;
  background: #1b2380;
  margin: 2.5rem 0 1.75rem;
}
.__footer p {
  text-align: center;
  font-family: "Oxygen", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #535bb8;
  line-height: normal;
}

.__brands-wrapp-mobile {
  flex-flow: row nowrap;
  display: none;
  height: 11.25rem;
  width: 100%;
  margin-top: 1.25rem;
}
@media (max-width: 320px) {
  .__brands-wrapp-mobile {
    display: flex;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__brands-wrapp-mobile {
    display: flex;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__brands-wrapp-mobile {
    display: flex;
  }
}
.__brands-wrapp-mobile .__slider-contents {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.__brands-wrapp-mobile .__slider-contents .__brands-items {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  width: 100%;
  margin-left: -100%;
}
.__brands-wrapp-mobile .__slider-contents .__brands-items .__item {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 0.25rem 0;
}
.__brands-wrapp-mobile .__slider-contents .__brands-items .__item .__card {
  width: 48vw;
  height: 100%;
  padding: 0.25rem;
  flex-shrink: 0;
  border-left: 1px solid rgba(11, 19, 112, 0.2);
}
.__brands-wrapp-mobile .__slider-contents .__brands-items .__item .__card:first-child {
  border-left: none;
}
.__brands-wrapp-mobile .__slider-contents .__brands-items .__item .__card img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.__menu-hamburger {
  display: none;
  width: 3rem;
  position: relative;
  height: 1.25rem;
}
@media (max-width: 320px) {
  .__menu-hamburger {
    display: block;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__menu-hamburger {
    display: block;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__menu-hamburger {
    display: block;
  }
}
.__menu-hamburger .__box {
  height: 0.25rem;
  background: #ffffff;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}
.__menu-hamburger .__box:before {
  position: absolute;
  content: "";
  height: 0.25rem;
  width: 100%;
  left: 0;
  background: #ffffff;
  top: 50%;
  transform: translateY(-50%);
  transition: background 0.3s ease-in-out;
}
.__menu-hamburger .__box::after {
  position: absolute;
  content: "";
  height: 0.25rem;
  bottom: 0;
  width: 100%;
  background: #ffffff;
  transition: transform 0.3s ease-in-out;
}
.__menu-hamburger .__box.__active {
  transform: rotate(45deg);
  top: 0;
  transition: 0.4s ease-in-out;
}
.__menu-hamburger .__box.__active:before {
  background-color: transparent;
}
.__menu-hamburger .__box.__active::after {
  transform: rotate(90deg);
  bottom: 0;
}

.__modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 200;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  align-items: center;
  justify-content: center;
}
.__modal .__modal-box {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  gap: 0.75rem;
  position: relative;
}
.__modal .__modal-box .__modal-content {
  width: 30vw;
  border-radius: 0.3125rem;
  flex-shrink: 0;
}
@media (max-width: 320px) {
  .__modal .__modal-box .__modal-content {
    width: 85vw;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__modal .__modal-box .__modal-content {
    width: 85vw;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__modal .__modal-box .__modal-content {
    width: 85vw;
  }
}
.__modal .__modal-box .__modal-content .__image-modal {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  border-radius: 0.3125rem;
}
.__modal .__modal-box .__close-modal {
  display: inline-block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-transform: uppercase;
  border: none;
  transition: 0.6s ease;
  cursor: pointer;
  border-radius: 100%;
  text-align: center;
  padding: 0.25rem 0.75rem;
  font-family: "Anton", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  color: #0b1370;
  line-height: normal;
}
@media (max-width: 320px) {
  .__modal .__modal-box .__close-modal {
    position: absolute;
    bottom: 90%;
    left: 94%;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .__modal .__modal-box .__close-modal {
    position: absolute;
    bottom: 90%;
    left: 94%;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .__modal .__modal-box .__close-modal {
    position: absolute;
    bottom: 90%;
    left: 94%;
  }
}
.__modal .__modal-box .__close-modal:hover {
  background-color: #0b1370;
  color: #ffffff;
}
.__modal.__active {
  display: flex;
}/*# sourceMappingURL=main.css.map */