.__wrap {
  margin: 0 auto;
  position: relative;
  width: 1200px; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

main {
  overflow: hidden; }

a {
  text-decoration: none; }

h1,
h2 {
  font-size: 3.75rem;
  line-height: 4.125rem; }

h3 {
  font-size: 2.5rem;
  line-height: 2.75rem; }

img {
  max-width: 100%; }

header {
  background: #2a328f;
  height: 120px;
  display: flex;
  align-items: center; }
  header .__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  header nav a {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 1.5rem;
    line-height: normal;
    margin-right: 40px;
    letter-spacing: 1px;
    position: relative; }
    header nav a:nth-child(4) {
      margin-right: 0; }
    header nav a::after {
      content: "";
      height: 3px;
      border-radius: 3px;
      width: 0;
      position: absolute;
      top: 35px;
      left: 0;
      background: #fff;
      transition: width 0.8s ease; }
    header nav a:hover::after {
      width: 100%; }
  header .social-media {
    display: flex;
    gap: 5px;
    align-items: center; }
    header .social-media a {
      cursor: pointer;
      display: contents; }
      header .social-media a .iconMedia {
        transform: scale(0.9);
        transition: transform 0.6s ease; }
        header .social-media a .iconMedia:hover {
          transform: scale(1); }

.subheader {
  height: 400px; }
  .subheader .slider-show {
    height: 100%;
    width: 100%; }
    .subheader .slider-show .slider {
      height: 100%;
      width: 100%; }
      .subheader .slider-show .slider .slider-item {
        height: 100%;
        width: 100%;
        background: url("./public/images/jpg/imgSubheader.jpg") no-repeat center;
        background-size: 100% 100%;
        padding-top: 40px; }
        .subheader .slider-show .slider .slider-item h1 {
          font-family: "Oswald", sans-serif;
          font-weight: bold;
          color: #0b1370;
          text-transform: uppercase;
          text-align: center;
          position: relative; }
          .subheader .slider-show .slider .slider-item h1::before {
            content: "";
            width: 35%;
            left: 0;
            height: 5px;
            border-radius: 0 5px 5px 0;
            background: #0b1370;
            position: absolute;
            transform: translateY(-50%);
            top: 50%; }
          .subheader .slider-show .slider .slider-item h1::after {
            content: "";
            width: 35%;
            right: 0;
            height: 5px;
            border-radius: 5px 0 0 5px;
            background: #0b1370;
            position: absolute;
            transform: translateY(-50%);
            top: 50%; }
        .subheader .slider-show .slider .slider-item p {
          font-family: "Oxygen", sans-serif;
          font-size: 1.25rem;
          font-weight: normal;
          color: #000000;
          line-height: 1.5;
          width: 560px;
          margin: 20px auto 0;
          text-align: center; }
        .subheader .slider-show .slider .slider-item .btn {
          font-family: "Anton", sans-serif;
          font-size: 1.25rem;
          font-weight: bold;
          color: #0b1370;
          line-height: normal;
          margin: 20px auto 0;
          transform: translateX(-50%);
          left: 50%;
          position: relative;
          text-transform: uppercase;
          letter-spacing: 2px;
          display: inline-block;
          border: 2px solid #0b1370;
          border-radius: 5px;
          padding: 10px 20px;
          transition: all 0.7s ease; }
          .subheader .slider-show .slider .slider-item .btn:hover {
            border-color: #fff;
            color: #fff;
            background-color: #0b1370; }

.about-us {
  height: 70vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  .about-us .img-back {
    background: url("./public/images/jpg/about.jpg") no-repeat center;
    background-size: 100% 100%;
    height: 100%; }
  .about-us .content {
    background: #2a328f;
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .about-us .content h2 {
      font-family: "Oswald", sans-serif;
      font-weight: bold;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      position: relative; }
      .about-us .content h2::before {
        content: "";
        width: 100px;
        background: #fff;
        height: 5px;
        border-radius: 5px;
        position: absolute;
        left: 5%;
        transform: translateY(-50%);
        top: 50%; }
      .about-us .content h2::after {
        content: "";
        width: 100px;
        background: #fff;
        height: 5px;
        border-radius: 5px;
        position: absolute;
        right: 5%;
        transform: translateY(-50%);
        top: 50%; }
    .about-us .content p {
      font-family: "Oxygen", sans-serif;
      font-size: 1.125rem;
      font-weight: normal;
      color: #fff;
      line-height: 1.68rem;
      width: 560px;
      margin: 20px auto 0; }

.motos-brands {
  padding-block: 100px; }
  .motos-brands .motos h2 {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    color: #0b1370;
    text-transform: uppercase;
    text-align: center;
    position: relative; }
    .motos-brands .motos h2::before {
      content: "";
      width: 40%;
      left: 0;
      height: 5px;
      border-radius: 0 5px 5px 0;
      background: #0b1370;
      position: absolute;
      transform: translateY(-50%);
      top: 50%; }
    .motos-brands .motos h2::after {
      content: "";
      width: 40%;
      right: 0;
      height: 5px;
      border-radius: 5px 0 0 5px;
      background: #0b1370;
      position: absolute;
      transform: translateY(-50%);
      top: 50%; }
  .motos-brands .motos .slider-motos {
    width: 100%;
    height: 300px;
    overflow-x: auto;
    margin-block: 40px;
    position: relative; }
    .motos-brands .motos .slider-motos .slider {
      height: 100%;
      width: 190%;
      display: flex;
      align-items: center;
      gap: 20px;
      justify-content: center;
      overflow: hidden; }
      .motos-brands .motos .slider-motos .slider .slider-item {
        width: 200px;
        height: 200px;
        cursor: pointer;
        transition: box-shadow 0.7s ease; }
        .motos-brands .motos .slider-motos .slider .slider-item img {
          width: 100%;
          height: 100%;
          object-fit: fill; }
        .motos-brands .motos .slider-motos .slider .slider-item:hover {
          box-shadow: -2px -2px 4px 4px rgba(160, 0, 16, 0.25), 2px 2px 4px 2px rgba(160, 0, 16, 0.25); }
    .motos-brands .motos .slider-motos .btn-prev-next .prev,
    .motos-brands .motos .slider-motos .btn-prev-next .next {
      display: flex;
      height: fit-content;
      width: fit-content;
      padding: 5rem 2.5rem;
      background: rgba(223, 50, 79, 0.15);
      border-radius: 5px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
      cursor: pointer;
      transition: background-color 0.7s ease; }
      .motos-brands .motos .slider-motos .btn-prev-next .prev:hover,
      .motos-brands .motos .slider-motos .btn-prev-next .next:hover {
        background-color: rgba(223, 50, 79, 0.5); }
        .motos-brands .motos .slider-motos .btn-prev-next .prev:hover svg path,
        .motos-brands .motos .slider-motos .btn-prev-next .next:hover svg path {
          transition: 0.7s ease;
          stroke: #a00010; }
      .motos-brands .motos .slider-motos .btn-prev-next .prev svg path,
      .motos-brands .motos .slider-motos .btn-prev-next .next svg path {
        stroke: rgba(160, 0, 16, 0.5); }
    .motos-brands .motos .slider-motos .btn-prev-next .prev {
      left: 2%; }
    .motos-brands .motos .slider-motos .btn-prev-next .next {
      right: 2%; }
      .motos-brands .motos .slider-motos .btn-prev-next .next svg {
        transform: rotate(180deg); }
  .motos-brands .brands h3 {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    color: #0b1370;
    text-transform: uppercase;
    text-align: center;
    position: relative; }
    .motos-brands .brands h3::before {
      content: "";
      width: 25%;
      left: 15%;
      height: 5px;
      border-radius: 5px;
      background: #0b1370;
      position: absolute;
      transform: translateY(-50%);
      top: 50%; }
    .motos-brands .brands h3::after {
      content: "";
      width: 25%;
      right: 15%;
      height: 5px;
      border-radius: 5px;
      background: #0b1370;
      position: absolute;
      transform: translateY(-50%);
      top: 50%; }
  .motos-brands .brands .box-brands {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    column-gap: 40px; }

.support {
  height: 50vh;
  width: 100%;
  background: url("./public/images/jpg/backSupport.jpg") no-repeat center;
  background-size: 100% 100%;
  padding-top: 40px; }
  .support h2 {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    color: #0b1370;
    text-transform: uppercase;
    text-align: center;
    position: relative; }
    .support h2::before {
      content: "";
      width: 40%;
      left: 0;
      height: 5px;
      border-radius: 0 5px 5px 0;
      background: #0b1370;
      position: absolute;
      transform: translateY(-50%);
      top: 50%; }
    .support h2::after {
      content: "";
      width: 40%;
      right: 0;
      height: 5px;
      border-radius: 5px 0 0 5px;
      background: #0b1370;
      position: absolute;
      transform: translateY(-50%);
      top: 50%; }
  .support .box-support {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 80px;
    margin-top: 40px; }
    .support .box-support .card {
      width: 280px;
      height: 280px;
      border: 5px solid #fff;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 40px;
      background: rgba(255, 255, 255, 0.7);
      cursor: pointer;
      transition: all 0.8s ease;
      padding: 0 15px; }
      .support .box-support .card span {
        font-family: "Oswald", sans-serif;
        font-weight: bold;
        color: #0b1370;
        font-size: 1.25rem;
        line-height: 1.875rem;
        text-transform: uppercase; }
      .support .box-support .card p {
        display: none; }
      .support .box-support .card:hover {
        background: rgba(11, 19, 112, 0.7);
        border-color: #0b1370; }
        .support .box-support .card:hover svg {
          display: none; }
        .support .box-support .card:hover span {
          color: #fff; }
        .support .box-support .card:hover p {
          font-family: "Oxygen", sans-serif;
          font-size: 1rem;
          font-weight: bold;
          color: #fff;
          line-height: 1.5rem;
          display: inline;
          width: fit-content;
          text-align: center; }
