footer {
  padding: 40px 0;
  background: $cosmic_cobalt;

  @include mobile_s {
    padding: 20px 0;
  }

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid $st_patrick_blue;
    padding-bottom: 40px;

    @include mobile_s {
      flex-direction: column;
    }

    .info-social {
      .infos {
        span {
          @include text(
            $f_size: 1.125rem,
            $f_weight: bold,
            $color: $white,
            $l_height: normal
          );
          display: block;
          margin-bottom: 15px;
        }

        .phone,
        .whats,
        .email {
          display: flex;
          align-items: center;
          gap: 12px;
        }

        .phone::before {
          content: url("./public/images/icons/phone.svg");
        }

        .whats::before {
          content: url("./public/images/icons/smartphone.svg");
        }

        .email::before {
          content: url("./public/images/icons/mail.svg");
        }

        .address {
          display: flex;
          width: 280px;
          margin-bottom: 0;
          gap: 12px;

          &::before {
            content: url("./public/images/icons/location.svg");
          }
        }
      }

      .social-media {
        display: flex;
        gap: 5px;
        align-items: center;
        margin-top: 20px;
        justify-content: center;

        a {
          cursor: pointer;
          display: contents;

          .iconMedia {
            transform: scale(0.9);
            transition: transform 0.6s ease;

            &:hover {
              transform: scale(1);
            }
          }
        }
      }
    }

    .nav-footer {
      a {
        @include linkNav_titles($color: $white, $f_weight: bold);
        font-size: 1.5rem;
        line-height: normal;
        margin-bottom: 18px;
        letter-spacing: 1px;
        position: relative;
        display: block;

        &:nth-child(4) {
          margin-bottom: 0;
        }
      }
    }
  }

  p {
    @include text(
      $f_size: 1rem,
      $f_weight: bold,
      $color: $liberth,
      $l_height: normal
    );
    text-align: center;
    margin-top: 40px;
  }
}
