header {
  background: $cosmic_cobalt;
  height: 120px;
  display: flex;
  align-items: center;

  .__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav {
    a {
      @include linkNav_titles($color: $white, $f_weight: bold);
      font-size: 1.5rem;
      line-height: normal;
      margin-right: 40px;
      letter-spacing: 1px;
      position: relative;

      &:nth-child(4) {
        margin-right: 0;
      }

      &::after {
        content: "";
        height: 3px;
        border-radius: 3px;
        width: 0;
        position: absolute;
        top: 35px;
        left: 0;
        background: $white;
        transition: width 0.8s ease;
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }

  .social-media {
    display: flex;
    gap: 5px;
    align-items: center;

    a {
      cursor: pointer;
      display: contents;

      .iconMedia {
        transform: scale(0.9);
        transition: transform 0.6s ease;

        &:hover {
          transform: scale(1);
        }
      }
    }
  }
}
