$white: #fff;
$dark_imperial_blue: #0b1370;
$snow: #fefbfb;
$cosmic_cobalt: #2a328f;
$blue_ncs: #0085c3;
$eletric_blue: #76ffff;
$amaranth: #df324f;
$black: #000000;
$st_patrick_blue: #1b2380;
$liberth: #535bb8;
$carmine: #a00010;
