.__about-us {
  height: 33.75rem;
  display: grid;
  grid-template-columns: 45% 55%;

  @include mobile_s {
    display: block;
  }

  .__back-image {
    background: url("../../../../images/jpg/about.jpg") center no-repeat;
    background-size: cover;

    @include mobile_s {
      display: none;
    }
  }

  .__description {
    background: $darkImperialBlue;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mobile_s {
      width: 100%;
      padding: 1.25rem 1rem;
    }

    h2 {
      color: $white;
      margin-bottom: 1.25rem;

      @include mobile_s {
        margin-bottom: 1rem;
      }

      &::before {
        content: "";
        width: 5.5rem;
        height: 5px;
        top: 50%;
        transform: translateY(-50%);
        background: $white;
        position: absolute;
        left: 110%;
        border-radius: 1.25rem;
      }

      &::after {
        content: "";
        width: 5.5rem;
        height: 5px;
        top: 50%;
        transform: translateY(-50%);
        background: $white;
        position: absolute;
        right: 110%;
        border-radius: 1.25rem;
      }
    }

    p {
      @include text(
        $f_size: 1.124rem,
        $f_weight: 400,
        $color: $white,
        $l_height: 1.6875rem
      );

      width: 34.75rem;

      @include mobile_s {
        width: 100%;
        font-size: 1rem;
        text-align: center;
      }
    }
  }
}
