.__contact {
  background-color: $darkImperialBlue;
  color: $white;
  padding-block: 6.25rem;
  position: relative;

  @include mobile_s {
    padding-block: 1.25rem;
  }

  @include mobile_m {
    padding-block: 1.25rem;
  }

  @include mobile_l {
    padding-block: 1.25rem;
  }

  .__title {
    color: $white;
    text-align: center;

    &::before,
    &::after {
      background: $white;
      width: 0vw;

      @include mobile_s {
        width: 35vw;
      }

      @include mobile_m {
        width: 35vw;
      }

      @include mobile_l {
        width: 35vw;
      }
    }

    &.__active {
      &::before,
      &::after {
        animation: line 0.6s linear forwards;
      }

      @include mobile_s {
        &::before,
        &::after {
          animation: none;
        }
      }

      @include mobile_m {
        &::before,
        &::after {
          animation: none;
        }
      }

      @include mobile_l {
        &::before,
        &::after {
          animation: none;
        }
      }
    }

    @keyframes line {
      from {
        width: 0vw;
      }
      to {
        width: 40vw;
      }
    }
  }

  .__back-img {
    position: absolute;
    background: url("../../../../images/jpg/contact.jpg") no-repeat;
    background-size: cover;
    width: 70vw;
    height: 75%;
    background-position: center;
    right: 0;
    z-index: 0;
    bottom: 7%;
    opacity: 0.7;
    border-radius: 0.3125rem 0 0 0.3125rem;

    @include mobile_s {
      background: url("../../../../images/jpg/backContact-mobile.jpg") center
        no-repeat;
      opacity: 0.7;
      bottom: 0;
      height: 800px;
      width: 100%;
      right: initial;
      background-size: 100% 100%;
    }

    @include mobile_m {
      background: url("../../../../images/jpg/backContact-mobile.jpg") center
        no-repeat;
      opacity: 0.7;
      bottom: 0;
      height: 800px;
      width: 100%;
      right: initial;
      background-size: 100% 100%;
    }

    @include mobile_l {
      background: url("../../../../images/jpg/backContact-mobile.jpg") center
        no-repeat;
      opacity: 0.7;
      bottom: 0;
      height: 800px;
      width: 100%;
      right: initial;
      background-size: 100% 100%;
    }
  }

  .__flex-align-center {
    @include mobile_s {
      flex-direction: column;
      gap: 1.25rem;
    }

    @include mobile_m {
      flex-direction: column;
      gap: 1.25rem;
    }

    @include mobile_l {
      flex-direction: column;
      gap: 1.25rem;
    }
  }

  .__contacts {
    margin-top: 2.5rem;

    @include mobile_s {
      margin-top: 1.25rem;
    }

    @include mobile_m {
      margin-top: 1.25rem;
    }

    @include mobile_l {
      margin-top: 1.25rem;
    }

    form {
      background: $cosmicCobalt;
      border-radius: 0.3125rem;
      padding: 2.5rem;
      position: relative;

      @include mobile_s {
        padding: 0.75rem;
        width: 100%;
      }

      @include mobile_m {
        padding: 0.75rem;
        width: 100%;
      }

      @include mobile_l {
        padding: 0.75rem;
        width: 100%;
      }

      .__input-field {
        margin-top: 1.25rem;

        &:nth-child(1) {
          margin-top: 0;
        }

        label {
          @include text(
            $f_size: 1.25rem,
            $f_weight: 700,
            $color: $white,
            $l_height: normal
          );

          margin-bottom: 0.5rem;

          @include mobile_s {
            font-size: 1rem;
          }

          @include mobile_m {
            font-size: 1rem;
          }

          @include mobile_l {
            font-size: 1rem;
          }
        }

        input,
        textarea {
          width: 30rem;
          border-radius: 0.3125rem;
          background: $white;
          border: none;
          font-size: 1.25rem;
          padding: 0.25rem 0.5rem;

          @include text(
            $f_size: 1.25rem,
            $f_weight: 400,
            $color: $white,
            $l_height: normal
          );

          @include mobile_s {
            width: 100%;
          }

          @include mobile_m {
            width: 100%;
          }

          @include mobile_l {
            width: 100%;
          }

          &.__error {
            border: 1px solid red;
          }
        }

        input {
          height: 3.25rem;
        }

        textarea {
          height: 9.5rem;
          resize: none;
        }
      }

      .__button {
        width: fit-content;
        height: fit-content;
        border: 0.125rem solid $white;
        border-radius: 0.3125rem;
        background: transparent;
        text-transform: uppercase;
        letter-spacing: 0.25rem;
        padding: 0.5rem 1.25rem;
        display: block;
        margin-left: auto;
        margin-top: 2.5rem;
        cursor: pointer;
        transition: all 0.8s ease-in-out;

        @include btn_link(
          $f_size: 1.5rem,
          $f_weight: bold,
          $color: $white,
          $l_height: normal
        );

        &:hover {
          background: $white;
          color: $cosmicCobalt;
        }

        @include mobile_s {
          width: 100%;
          margin-top: 1.25rem;
        }

        @include mobile_m {
          width: 100%;
          margin-top: 1.25rem;
        }

        @include mobile_l {
          width: 100%;
          margin-top: 1.25rem;
        }
      }
    }

    .__box-info-contact {
      display: block;
      margin-left: auto;
      background: rgba($color: $darkImperialBlue, $alpha: 0.6);
      width: 29rem;
      border-radius: 0.3125rem;
      padding: 1.25rem;
      position: relative;

      .__phone {
        grid-area: __phone;
      }

      .__cellphone {
        grid-area: __cellphone;
      }

      .__email {
        grid-area: __email;
      }

      .__address {
        grid-area: __address;
      }

      .__social-media {
        grid-area: __social-media;
      }

      @include mobile_s {
        width: 100%;
        display: grid;
        row-gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "__phone __cellphone" "__email __email" "__address __address" "__social-media __social-media";
      }

      @include mobile_m {
        width: 100%;
        display: grid;
        row-gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "__phone __cellphone" "__email __email" "__address __address" "__social-media __social-media";
      }

      @include mobile_l {
        width: 100%;
        display: grid;
        row-gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "__phone __cellphone" "__email __email" "__address __address" "__social-media __social-media";
      }

      .__info-contact {
        display: flex;
        gap: 1.25rem;
        margin-top: 2rem;
        align-items: center;

        svg {
          margin-top: 4px;
        }

        @include mobile_s {
          flex-direction: column;
          align-items: center;
          margin-top: 0rem;
          text-align: center;
          gap: 0;

          &:nth-child(4) {
            padding: 0 1rem;
            gap: 0.75rem;

            span {
              line-height: normal;
            }
          }
        }

        @include mobile_m {
          flex-direction: column;
          align-items: center;
          margin-top: 0rem;
          text-align: center;
          gap: 0;

          &:nth-child(4) {
            padding: 0 1rem;
            gap: 0.75rem;

            span {
              line-height: normal;
            }
          }
        }

        @include mobile_l {
          flex-direction: column;
          align-items: center;
          margin-top: 0rem;
          text-align: center;
          gap: 0;

          &:nth-child(4) {
            padding: 0 1rem;
            gap: 0.75rem;

            span {
              line-height: normal;
            }
          }
        }

        &:first-child {
          margin-top: 0;
        }

        &:nth-child(4) {
          align-items: initial;
          svg {
            flex-shrink: 0;
            margin-top: 0.75rem;
          }

          @include mobile_s {
            align-items: center;
          }

          @include mobile_m {
            align-items: center;
          }

          @include mobile_l {
            align-items: center;
          }
        }

        svg {
          width: 1.75rem;
          height: 1.75rem;
          object-fit: fill;
        }

        span {
          display: block;
          @include text(
            $f_size: 2rem,
            $f_weight: 700,
            $color: $white,
            $l_height: 3rem
          );

          @include mobile_s {
            font-size: 1rem;
          }

          @include mobile_m {
            font-size: 1rem;
          }

          @include mobile_l {
            font-size: 1rem;
          }
        }
      }

      .__social-media {
        margin-top: 2rem;
        display: flex;
        justify-content: center;

        a {
          &:nth-child(2) {
            margin: 0 1.25rem;
          }
        }

        a svg {
          transform: scale(1.5);

          &:hover {
            transform: scale(1.7);
          }
        }
      }
    }
  }
}
