.__contact {
  background-color: $darkImperialBlue;
  color: $white;
  padding-block: 6.25rem;
  position: relative;

  .__title {
    color: $white;
    text-align: center;

    &::before,
    &::after {
      background: $white;
      width: 40vw;
    }
  }

  .__back-img {
    position: absolute;
    background: url("../../../../images/jpg/contact.jpg") no-repeat;
    background-size: cover;
    width: 70vw;
    height: 75%;
    background-position: center;
    right: 0;
    z-index: 0;
    bottom: 7%;
    opacity: 0.7;
    border-radius: 0.3125rem 0 0 0.3125rem;
  }

  .__contacts {
    margin-top: 2.5rem;

    form {
      background: $cosmicCobalt;
      border-radius: 0.3125rem;
      padding: 2.5rem;
      position: relative;

      .__input-field {
        margin-top: 1.25rem;

        &:nth-child(1) {
          margin-top: 0;
        }

        label {
          @include text(
            $f_size: 1.25rem,
            $f_weight: 700,
            $color: $white,
            $l_height: normal
          );

          margin-bottom: 0.5rem;
        }

        input,
        textarea {
          width: 30rem;
          border-radius: 0.3125rem;
          background: $white;
          border: none;
          font-size: 1.25rem;
          padding: 0.25rem 0.5rem;
        }

        input {
          height: 3.25rem;
        }

        textarea {
          height: 9.5rem;
          resize: none;
        }
      }

      .__button {
        width: fit-content;
        height: fit-content;
        border: 0.125rem solid $white;
        border-radius: 0.3125rem;
        background: transparent;
        text-transform: uppercase;
        letter-spacing: 0.25rem;
        padding: 0.5rem 1.25rem;
        display: block;
        margin-left: auto;
        margin-top: 2.5rem;
        cursor: pointer;
        transition: all 0.8s ease-in-out;

        @include btn_link(
          $f_size: 1.5rem,
          $f_weight: bold,
          $color: $white,
          $l_height: normal
        );

        &:hover {
          background: $white;
          color: $cosmicCobalt;
        }
      }
    }

    .__box-info-contact {
      display: block;
      margin-left: auto;
      background: rgba($color: $darkImperialBlue, $alpha: 0.6);
      width: 29rem;
      border-radius: 0.3125rem;
      padding: 1.25rem;
      position: relative;

      .__info-contact {
        display: flex;
        gap: 1.25rem;
        margin-top: 2rem;

        &:first-child {
          margin-top: 0;
        }

        span {
          display: block;
          @include text(
            $f_size: 2rem,
            $f_weight: 700,
            $color: $white,
            $l_height: 3rem
          );
        }
      }

      .__social-media {
        margin-top: 2rem;
        display: flex;
        justify-content: center;

        a {
          &:nth-child(2) {
            margin: 0 1.25rem;
          }
        }

        a svg {
          transform: scale(1.5);

          &:hover {
            transform: scale(1.7);
          }
        }
      }
    }
  }
}
