.__motos-brands {
  text-align: center;
  padding: 6.25rem 0;

  @include mobile_s {
    padding-block: 1.25rem;
  }

  @include mobile_m {
    padding-block: 1.25rem;
  }

  @include mobile_l {
    padding-block: 1.25rem;
  }

  .__title {
    &::before,
    &::after {
      width: 0vw;
    }

    &.__active {
      &::before,
      &::after {
        animation: line 0.6s linear forwards;
      }

      @include mobile_s {
        &::before,
        &::after {
          animation: none;
        }
      }

      @include mobile_m {
        &::before,
        &::after {
          animation: none;
        }
      }

      @include mobile_l {
        &::before,
        &::after {
          animation: none;
        }
      }
    }

    @keyframes line {
      from {
        width: 0vw;
      }
      to {
        width: 40vw;
      }
    }

    @include mobile_s {
      &::before,
      &::after {
        width: 36vw;
      }
    }

    @include mobile_m {
      &::before,
      &::after {
        width: 36vw;
      }
    }

    @include mobile_l {
      &::before,
      &::after {
        width: 36vw;
      }
    }
  }

  // moto
  .__motos {
    .__slider-motos {
      position: relative;
      height: 20rem;
      margin: 2.5rem 0;
      padding-block: 1.75rem;
      overflow: hidden;

      @include mobile_s {
        height: 10rem;
        margin: 1rem 0;
        padding: 0;
      }

      @include mobile_m {
        height: 10rem;
        margin: 1rem 0;
        padding: 0;
      }

      @include mobile_l {
        height: 10rem;
        margin: 1rem 0;
        padding: 0;
      }

      .__slider-content {
        height: 16rem;
        display: flex;
        flex-flow: row nowrap;
        padding: 0.75rem 0;
        gap: 1.25rem;
        scroll-behavior: smooth;
        overflow: hidden;
        scroll-snap-type: x mandatory;

        @include mobile_s {
          position: absolute;
          height: 100%;
          gap: 0.5rem;
          padding: 0.5rem;
          scroll-behavior: initial;
          scroll-snap-type: initial;
        }

        @include mobile_m {
          position: absolute;
          height: 100%;
          gap: 0.5rem;
          padding: 0.5rem;
          scroll-behavior: initial;
          scroll-snap-type: initial;
        }

        @include mobile_l {
          position: absolute;
          height: 100%;
          gap: 0.5rem;
          padding: 0.5rem;
          scroll-behavior: initial;
          scroll-snap-type: initial;
        }

        .__card {
          height: 100%;
          width: 20rem;
          flex-shrink: 0;
          cursor: pointer;
          border-radius: 0.3125rem;
          transition: all 0.1s ease-in;

          &:hover {
            border: 0.125rem solid $carmine;
            box-shadow: 1px 1px 5px rgba($color: $carmine, $alpha: 0.5),
              -1px -1px 5px rgba($color: $carmine, $alpha: 0.5);
            border-radius: 0.5rem;

            @include mobile_s {
              border: none;
              box-shadow: none;
              border-radius: 0;
            }

            @include mobile_m {
              border: none;
              box-shadow: none;
              border-radius: 0;
            }

            @include mobile_l {
              border: none;
              box-shadow: none;
              border-radius: 0;
            }
          }

          &.__active-card {
            border: 0.125rem solid $carmine;
            box-shadow: 1px 1px 5px rgba($color: $carmine, $alpha: 0.5),
              -1px -1px 5px rgba($color: $carmine, $alpha: 0.5);
            border-radius: 0.5rem;
          }

          @include mobile_s {
            width: 11.25rem;
          }

          @include mobile_m {
            width: 11.25rem;
          }

          @include mobile_l {
            width: 11.25rem;
          }

          img {
            width: 100%;
            height: 100%;
            border-radius: 0.3125rem;
          }
        }
      }

      .__btn {
        border: none;
        padding: 0 1.25rem;
        background: rgba($color: $amaranth, $alpha: 0.3);
        border-radius: 0.3125rem;
        position: absolute;
        top: 0;
        height: inherit;
        width: fit-content;
        z-index: 1;
        cursor: pointer;
        transition: all 0.8s ease;

        @include mobile_s {
          display: none;
        }

        @include mobile_m {
          display: none;
        }

        @include mobile_l {
          display: none;
        }

        svg {
          path {
            stroke: rgba($color: $carmine, $alpha: 0.5);
          }
        }

        &:hover {
          background: rgba($color: $amaranth, $alpha: 0.5);

          svg {
            path {
              stroke: rgba($color: $carmine, $alpha: 1);
            }
          }
        }

        &.__desabled {
          pointer-events: none;
        }
      }

      .__previous,
      .__next {
        &.__desbled-button {
          pointer-events: none;
          background: rgba($color: $amaranth, $alpha: 0.25);

          svg {
            path {
              stroke: rgba($color: $carmine, $alpha: 0.3);
            }
          }
        }
      }

      .__previous {
        left: 3vw;
      }

      .__next {
        right: 3vw;

        svg {
          transform: rotate(180deg);
        }
      }
    }
  }

  // brands
  .__brands {
    h3 {
      &::before {
        content: "";
        width: 15vw;
        height: 0.25rem;
        top: 50%;
        transform: translateY(-50%);
        background: $darkImperialBlue;
        position: absolute;
        left: 12.5rem;
        border-radius: 1.25rem;
      }

      &::after {
        content: "";
        width: 15vw;
        height: 0.25rem;
        top: 50%;
        transform: translateY(-50%);
        background: $darkImperialBlue;
        position: absolute;
        right: 12.5rem;
        border-radius: 1.25rem;
      }

      @include mobile_s {
        &::before {
          left: 12rem;
        }
        &::after {
          right: 12rem;
        }
      }

      @include mobile_m {
        &::before {
          left: 13rem;
        }
        &::after {
          right: 13rem;
        }
      }

      @include mobile_l {
        &::before {
          left: 14.5rem;
        }
        &::after {
          right: 14.5rem;
        }
      }
    }

    .__brands-wrapp {
      width: 100%;
      height: 17.5rem;
      margin-top: 2.5rem;
      display: flex;
      justify-content: space-between;

      .__card {
        width: 17.5rem;
        height: 100%;
        flex-shrink: 0;
        display: flex;

        img {
          width: 100%;
          object-fit: contain;
        }
      }

      @include mobile_s {
        display: none;
      }

      @include mobile_m {
        display: none;
      }

      @include mobile_l {
        display: none;
      }
    }
  }
}
