$white: #ffffff;
$darkImperialBlue: #0b1370;
$snow: #fefbfb;
$cosmicCobalt: #2a328f;
$blueNCS: #0085c3;
$electricBlue: #76ffff;
$black: #000000;
$stPatricksBlue: #1b2380;
$liberty: #535bb8;
$carmine: #a00010;
