.__menu-hamburger {
  display: none;
  width: 3rem;
  position: relative;

  @include mobile_s {
    display: block;
  }

  @include mobile_m {
    display: block;
  }

  @include mobile_l {
    display: block;
  }

  .__box {
    height: 0.25rem;
    background: $white;
    width: 100%;

    &:before {
      position: absolute;
      content: "";
      height: 0.25rem;
      top: 0.5rem;
      width: 100%;
      background: $white;
    }

    &::after {
      position: absolute;
      content: "";
      height: 0.25rem;
      bottom: 0.5rem;
      width: 100%;
      background: $white;
    }
  }
}

.__menu-hamburger-active {
  .__box {
    height: 0.25rem;
    background: transparent;
    width: 100%;

    &:before {
      position: absolute;
      content: "";
      height: 0.25rem;
      transform: rotate(45deg);
      top: 0;
      width: 100%;
      background: $white;
    }

    &::after {
      position: absolute;
      content: "";
      height: 0.25rem;
      transform: rotate(140deg);
      top: 0;
      width: 100%;
      background: $white;
    }
  }
}
