.about-us {
  height: 70vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .img-back {
    background: url("./public/images/jpg/about.jpg") no-repeat center;
    background-size: 100% 100%;
    height: 100%;
  }

  .content {
    background: $cosmic_cobalt;
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      @include linkNav_titles($f_weight: bold, $color: $white);
      text-transform: uppercase;
      text-align: center;
      position: relative;

      &::before {
        content: "";
        width: 100px;
        background: $white;
        height: 5px;
        border-radius: 5px;
        position: absolute;
        left: 5%;
        transform: translateY(-50%);
        top: 50%;
      }

      &::after {
        content: "";
        width: 100px;
        background: $white;
        height: 5px;
        border-radius: 5px;
        position: absolute;
        right: 5%;
        transform: translateY(-50%);
        top: 50%;
      }
    }

    p {
      @include text(
        $f_size: 1.125rem,
        //18px
        $f_weight: normal,
        $color: $white,
        $l_height: 1.68rem //27px
      );
      width: 560px;
      margin: 20px auto 0;
    }
  }
}
