.motos-brands {
  padding-block: 100px;

  @include mobile_s {
    padding-block: 40px;
  }

  .motos {
    h2 {
      @include linkNav_titles($f_weight: bold, $color: $dark_imperial_blue);
      text-transform: uppercase;
      text-align: center;
      position: relative;

      &::before {
        content: "";
        width: 40%;
        left: 0;
        height: 5px;
        border-radius: 0 5px 5px 0;
        background: $dark_imperial_blue;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;

        @include mobile_s {
          width: 30%;
          height: 3px;
        }
      }

      &::after {
        content: "";
        width: 40%;
        right: 0;
        height: 5px;
        border-radius: 5px 0 0 5px;
        background: $dark_imperial_blue;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;

        @include mobile_s {
          width: 30%;
          height: 3px;
        }
      }
    }
  }

  .brands {
    h3 {
      @include linkNav_titles($f_weight: bold, $color: $dark_imperial_blue);
      text-transform: uppercase;
      text-align: center;
      position: relative;

      &::before {
        content: "";
        width: 25%;
        left: 15%;
        height: 5px;
        border-radius: 5px;
        background: $dark_imperial_blue;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;

        @include mobile_s {
          width: 30%;
          height: 3px;
          left: 0;
        }
      }

      &::after {
        content: "";
        width: 25%;
        right: 15%;
        height: 5px;
        border-radius: 5px;
        background: $dark_imperial_blue;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;

        @include mobile_s {
          width: 30%;
          height: 3px;
          right: 0;
        }
      }
    }

    .box-brands {
      margin-top: 40px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      align-items: center;
      column-gap: 40px;

      @include mobile_s {
        display: none;
      }

      img {
        width: 300px;
        flex-shrink: 0;
      }
    }
  }
}
