.subheader {
  height: 400px;

  @include mobile_s {
    height: fit-content;
    margin-top: 100px;
  }

  .slider-show {
    height: 100%;
    width: 100%;
    position: relative;

    .slider {
      height: 100%;
      width: 100vw; //100%;;

      display: flex;
      flex-flow: row nowrap;

      .slider-item {
        height: 100%;
        width: 100vw; //100%;
        background: url("./public/images/jpg/imgSubheader.jpg") no-repeat center;
        background-size: 100% 100%;
        padding-top: 40px;
        flex-shrink: 0;

        @include mobile_s {
          padding: 20px 0;
          background: url("./public/images/jpg/imgSubheader-mobile.jpg")
            no-repeat;
        }

        h1 {
          @include linkNav_titles($f_weight: bold, $color: $dark_imperial_blue);
          text-transform: uppercase;
          text-align: center;
          position: relative;

          &::before {
            content: "";
            width: 35%;
            left: 0;
            height: 5px;
            border-radius: 0 5px 5px 0;
            background: $dark_imperial_blue;
            position: absolute;
            transform: translateY(-50%);
            top: 50%;

            @include mobile_s {
              width: 20%;
              height: 3px;
            }
          }

          &::after {
            content: "";
            width: 35%;
            right: 0;
            height: 5px;
            border-radius: 5px 0 0 5px;
            background: $dark_imperial_blue;
            position: absolute;
            transform: translateY(-50%);
            top: 50%;

            @include mobile_s {
              width: 20%;
              height: 3px;
            }
          }
        }

        p {
          @include text(
            $f_size: 1.25rem,
            $f_weight: normal,
            $color: $black,
            $l_height: 1.5
          );
          width: 560px;
          margin: 20px auto 0;
          text-align: center;

          @include mobile_s {
            font-size: 1rem;
            line-height: 1.5rem;
            width: 100%;
          }
        }

        .btn {
          @include btn_link(
            $f_size: 1.25rem,
            $f_weight: bold,
            $color: $dark_imperial_blue,
            $l_height: normal
          );
          margin: 20px auto 0;
          transform: translateX(-50%);
          left: 50%;
          position: relative;
          text-transform: uppercase;
          letter-spacing: 2px;
          display: inline-block;
          border: 2px solid $dark_imperial_blue;
          border-radius: 5px;
          padding: 10px 20px;
          transition: all 0.7s ease;

          @include mobile_s {
            font-size: 1.125rem;
          }

          &:hover {
            border-color: $white;
            color: $white;
            background-color: $dark_imperial_blue;
          }
        }
      }
    }

    .slider-counters {
      position: absolute;
      bottom: 10px;
      display: flex;
      flex-flow: row nowrap;
      left: 50%;
      transform: translateX(-50px);
      gap: 10px;

      .__counter {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: $white;
        cursor: pointer;
        transition: all 0.5s;

        &:hover,
        &.__active-counter {
          transform: scale(1.1);
          background-color: $dark_imperial_blue;
        }
      }
    }
  }
}
