.support {
  height: 500px;
  width: 100%;
  background: url("./public/images/jpg/backSupport.jpg") no-repeat center;
  background-size: 100% 100%;
  padding-top: 40px;

  @include mobile_s {
    background: url("./public/images/jpg/backSupport-mobile.jpg") no-repeat
      center;
    height: fit-content;
    padding: 20px 0;
  }

  h2 {
    @include linkNav_titles($f_weight: bold, $color: $dark_imperial_blue);
    text-transform: uppercase;
    text-align: center;
    position: relative;

    &::before {
      content: "";
      width: 40%;
      left: 0;
      height: 5px;
      border-radius: 0 5px 5px 0;
      background: $dark_imperial_blue;
      position: absolute;
      transform: translateY(-50%);
      top: 50%;

      @include mobile_s {
        width: 30%;
        height: 3px;
      }
    }

    &::after {
      content: "";
      width: 40%;
      right: 0;
      height: 5px;
      border-radius: 5px 0 0 5px;
      background: $dark_imperial_blue;
      position: absolute;
      transform: translateY(-50%);
      top: 50%;

      @include mobile_s {
        width: 30%;
        height: 3px;
      }
    }
  }

  .box-support {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 80px;
    margin-top: 40px;

    @include mobile_s {
      gap: 20px;
      margin-top: 20px;
    }

    .card {
      width: 280px;
      height: 280px;
      border: 5px solid $white;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 40px;
      background: rgba($color: $white, $alpha: 0.7);
      cursor: pointer;
      transition: all 0.8s ease;
      padding: 0 15px;

      @include mobile_s {
        width: 100%;
        gap: 20px;
      }

      span {
        @include linkNav_titles($f_weight: bold, $color: $dark_imperial_blue);
        font-size: 1.25rem;
        line-height: 1.875rem;
        text-transform: uppercase;

        @include mobile_s {
          font-size: 1rem;
          line-height: 1.5rem;
        }
      }

      p {
        display: none;
      }

      &:hover {
        background: rgba($color: $dark_imperial_blue, $alpha: 0.7);
        border-color: $dark_imperial_blue;

        svg {
          display: none;
        }

        span {
          color: $white;
        }

        p {
          @include text(
            $f_size: 1rem,
            $f_weight: bold,
            $color: $white,
            $l_height: 1.5rem
          );
          display: inline;
          width: fit-content;
          text-align: center;
        }
      }
    }
  }
}
